{% extends 'default.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <main class="grid-container">
      <form method="post" class="grid-x grid-padding-x">
        {% csrf_token %}
        <div class="cell large-4">
            <fieldset class="small-12 cell">
              <legend>Civilités</legend>
              {% for civility in form.civilities %}
              {{ civility.tag }}
              <label for="{{ civility.id_for_label }}">{{ civility.choice_label }}</label>
              {% endfor %}

            </fieldset>
            <div class="small-12 cell">
              {{ form.firstname | as_crispy_field }}
            </div>
            <div class="small-12 cell">
              {{ form.lastname | as_crispy_field }}
            </div>
            <div class="small-12 cell">
              {{ form.status | as_crispy_field }}
            </div>
            <div class="small-12 cell">
              {{ form.position | as_crispy_field }}
            </div>
            <div class="small-12 cell">
              {{ form.contract | as_crispy_field }}
            </div>
            <div class="small-12 cell">
              {{ form.tjm | as_crispy_field }}
            </div>
            <div class="small-12 cell">
              {{ form.who | as_crispy_field }}
            </div>
            <div class="small-12 cell">
              {{ form.expertise | as_crispy_field }}
            </div>
        </div>
        <div class="cell large-4">
          <div class="grid-x grid-padding-x">
            <fieldset class="small-12 cell">
              <legend>Technologies</legend>
              <div class="grid-x grid-margin-x"><input type="text" id="search" aria-label="chercher" class="cell small-9"><button class="button alert cell small-3" type="button">&#x2715;</button></div>
              <div id="technoRender">
                {% for category in technology_categories %}
                  <fieldset class="fieldset">
                    <legend>{{ category.name | title }}</legend>
                    {% for tech in category.technologies.all %}
                      <span><input type="checkbox" id="{{ tech.name }}_{{ tech.id }}" name="{{ tech.name}}" value="{{ tech.value }}"><label for="{{ tech.name }}_{{ tech.id }}">{{ tech.value }}</label></span>
                    {% endfor %}
                  </fieldset>
                {% endfor %}
              </div>
            </fieldset>
          </div>
        </div>
        <div class="cell large-4">
          <fieldset class="small-12 cell fieldset">
            <legend>Meta</legend>
            <div class="small-12 cell">
              {{ form.url_source | as_crispy_field }}
            </div>
            <div class="small-12 cell">
              {{ form.title | as_crispy_field }}
            </div>
            <div class="small-12 cell">
              {{ form.description | as_crispy_field }}
            </div>
          </fieldset>
        </div>
        <!-- {{ form.as_p}} -->
        <button type="submit" class="button expanded">envoyer</button>
      </form>
    </main>
<div class="callout success" data-closable="slide-out-right">
  <h5>submit</h5>
  <p>copié !</p>
  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<template id="tplTjm">
<input type="range" min="500" max="650" step="10" style="display:block; width:100%" aria-label="définir valeur">
</template>
<template id="tplLm">Bonjour [[= civility ]][[ if(firstname !==''){]] [[= firstname ]][[}]][[ if(lastname !==''){]] [[= lastname ]][[}]],

Je suis très intéressé par la mission en [[= contrat ]] et pour cette belle opportunité [[= who !== ''? `chez ${who}` : 'au sein de votre structure' ]] ! [[ if(expertise !== ''){]]J'ai une expertise avérée dans [[- expertise ]].[[}]]

J’ai une solide expérience [[= status]] [[= position ]] [[if(techno !== ''){]]avec [[= techno ]] [[}]](16 ans d'expérience et plus de 50 projets).
Mon expérience me permet d'intervenir rapidement sur vos développements complexes tout en garantissant la maintenabilité et l'évolutivité du code performant.

[[ if(contrat === 'freelance'){]]- TJM : [[= tjm ]] € HT[[}]]
- Disponible [[= date ]]
- Présence sur site
- Téléphone : +33 603 617 839
- email : renaudbourdeau@gmail.com
- site : https://rb-webstudio.go.yj.fr/
- cv : https://rb-webstudio.go.yj.fr/static/renaud-bourdeau-cv.pdf
- Mon linkedin : https://www.linkedin.com/in/renaud-bourdeau-%F0%9F%90%A7-7639b944/

Hâte d’échanger !

Cordialement,

Renaud Bourdeau</template>
{% endblock %}